.app-content {
	width: 100%;
}

form {
	padding: 10px 30px 20px 25px;
}

md-input-group.long > input {
	width: 100%;
}

md-whiteframe {
	margin: 10px 30px 20px 25px;
}

.listdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

 md-list {
 	padding: 0px;
 }

 body h3 h4 {
 	margin: 1px;
 }

md-whiteframe.md-whiteframe-z1 {
	justify-content: left;
}

 md-whiteframe {
  margin: 10px 30px 20px 25px;
  padding: 10px;
  justify-content: left;
}